/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {

	.container { width: 748px; }

	#slideshow { width: 748px; height: 257px; }

	#slideshow .slide_box { width: 748px; height: 257px; }

	#slideshow img, #slideshow iframe { /*width: 748px; height: 257px;*/ width: 100%; }	

	.slide_thumbs_cont img { margin-left: 13px; width: 139px; height: 70px; }

	

	#cont_left { width: 690px; }

	.post_box .left { width: 440px; }

	.post_box .left img { /*width: 440px; height: 250px;*/ }

	.post_box .left iframe { /*width: 440px; height: 250px;*/ }	

	.single_inside_content img { max-width: 100%; height: inherit; }

	.may_like_box { margin-right: 15px; width: 220px; }

	.may_like_box_last{ margin-right: 0; }

	.may_like_box img,

	.may_like_box iframe { width: 220px; height: 130px; }	

	

	/*#sidebar { display: none; }*/

	.t1_search_cont input[type=text] { width: 100px; }

	.t1_search_cont input[type=submit] {  width: 70px; }	

	

}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) { 

	.container { width: 300px; }

	

	.header_top { position: static; }

	.logo_cont { padding-top: 25px; }

	.logo_cont img { max-width: 100%; height: inherit; }

	.header_menu { float: none; padding: 1px 1px; }

	.header_menu ul li a { font-size: 12px; }

	.header_menu ul li ul { top: 25px; }

	.header_menu ul li ul li a { font-size: 12px; }

	.header_social { float: none; text-align: center; padding: 5px 0; }

	#slideshow { /*width: 300px;*/ height: 135px; width: 100% !important; }

	#slideshow .slide_box { /*width: 300px;*/ width: 100% !important; height: 135px !important; }

	#slideshow img, #slideshow iframe { /*width: 300px; height: 135px;*/ width: 100%; display: inline; margin: 0;}	

	.slide_thumbs_cont { display: none; }

	/*.slide_thumbs_cont img { margin-left: 13px; width: 139px; height: 70px; }*/

	

	#cont_left { width: 300px; float: none; }

	.post_box .left { width: 300px; float: none; }

	.post_box .left img { /*width: 300px; height: 175px; */}

	.post_box .left iframe { /*width: 300px; height: 175px;*/ }	

	.post_box .right { float: none; width: 300px; padding-top: 10px; }

	.single_inside_content img { max-width: 100%; height: inherit; }

	.single_inside_content iframe { width: 300px; height: 167px; }

	#commentform textarea { max-width: 280px; }	

	

	.may_like_box { float: none; margin: 0 auto 20px; }

	

	#sidebar { width: 300px; float: none; }	

	.t1_search_cont input[type=text] { width: 210px; }

	.t1_search_cont input[type=submit] {  width: 80px; }	
    
    .side_box #s{
        width: auto !important;
    }
    
    #commentform input[type=submit]{
        width: 280px !important;
    }
}

@media screen and (max-width:960px){
    .header_menu {
        float: left;
        width: 90%;
        margin: 0 5%;
        display: none;
    }
    .header_menu ul{
        width: 100%;
    }
    .header_menu ul li{
        line-height: 17px !important;
        width: 100%;
        display: block;
        width: 100%;
        margin-top: 15px;
        padding-top: 15px;
        border-top: 1px solid #f0f0f0;
    }
    .header_menu ul li:first-child{
        border-top: 0;
    }
    .header_menu ul li:last-child {
        margin-bottom: 15px;
    }
    .header_menu ul li a{
        display: block;
        color: #060606;
        opacity: 1 !important;
        text-transform: uppercase;
        font-size: 0.8em;
        font-weight: 400;
    }
}

/*Custom css under 960*/

@media screen and (max-width:960px){
    
    .ymlcont{
        width: 100%;
    }
    .may_like_box{
        width: 33% !important;
        margin-right: 0px !important;
    }
    .may_like_box img, .may_like_box iframe{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
    .may_like_box h3{
        text-align: center;
    }
    .may_like_box h3 a{
        font-weight: 500;
        font-size: 20px;
    }
}

@media screen and (max-width:960px) and (min-width:767px){
    #cont_left{
        width: 70% !important;
    }
    .post_box .left{
        width: 100% !important;
    }
    .post_box .right {
        width: 100% !important;
    }
    #sidebar {
        width: 25% !important;
    }
    
    .may_like_box {
        width: 31% !important;
        margin-right: 10px !important;
    }
    .post_box .left img{
        width: 50% !important;
    }
}

@media screen and (max-width:1030px) and (min-width:961px){
    .post_box .right{
        width: 50% !important;
    }
}

@media screen and (max-width:767px){
    .logo{
        width: auto;
    }
    
    #cont_left{
        width: 100% !important;
    }
    .post_box .left{
        margin: 0 auto;
    }
    .post_box .left img{
        margin-bottom: 20px;
    }
    .post_box .right{
        width: 100% !important;
        margin: 0 auto;
    }
    .post_box h3{
        text-align: center;
        height: auto !important;
    }
    .post_box h3 a{
        font-size: 15px !important;
        font-weight: 700 !important;
    }
    .post_box p{
        font-weight: 300;
        font-size: 16px;
    }
    .post_meta_left, .post_meta_right a{
        font-family: 'PT Mono', ;
        font-weight: bolder;
        font-size: 13px;
        text-transform: lowercase;
    }
    .post_meta{
        position: relative !important;
        margin-top: 25px;
        width: 100% !important;
        border-top: 0px !important;
    }
    body #sidebar {
        width: 100% !important;
        float: none !important;
        padding-top: 50px !important;
        clear: both;
    }

    .header_menu{
        display: none;
    }
    
    .side_box{
        text-align: center;
    }

}

@media screen and (max-width:679px){
    .may_like_box{
        width: 100% !important;
    }
    .may_like_box img{
        float: none !important;
        display: block;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:600px){
    .cont-single h1{
        font-size: 45px !important;
        letter-spacing: 1px;
    }
}

@media screen and (max-width:480px){
    .logo{
        width: 230px;
    }
    .nav-button {
        margin-top: 5px;
    }
    form#commentform p input{
        min-width: 100%;
    }
    form#commentform p label{
        float: left;
        margin-right: 5px;
    }
    #commentform textarea{
        max-width: 100%;
    }
    #main_cont h1{
        font-size: 40px !important;
    }
}

@media screen and (max-width:450px){
    .post_box .right {
        width: 100% !important;
    }
}

@media screen and (max-width:380px){
    .post_box .left{
        width: 250px !important;
    }
    
}

@media screen and (min-width:1024px){
    #slideshow, #slideshow .slide_box, #slideshow img, #slideshow iframe{
        width: 100% !important;
    }
}

@media screen and (min-width:960px){
    .header_menu{
        display: block !important;
        margin-top: 10px;
    }
}

@media screen and (min-width:768px){
   .post_meta{
        position: relative;
    }
    
}