/*

Theme Name: Designer Magazine Responsive Theme

Theme URI: http://www.dessign.net/designermagazinetheme

Description: Designer Magazine Responsive Theme for WordPress is stylish, customizable, simple, and readable. Perfect for any designer creative, illustrator or graphic designer. 

Version: 2.0

Author: Marios Lublinski

Author URI: http://www.dessign.net

Tags: 2 column theme, clean, portfolio

*/

/* =WordPress Core

-------------------------------------------------------------- */

.alignnone {

    margin: 5px 20px 20px 0;

}

.aligncenter,

div.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

}

.alignright {

    float:right;

    margin: 5px 0 20px 20px;

}

.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}

.aligncenter {

    display: block;

    margin: 5px auto 5px auto;

}

a img.alignright {

    float: right;

    margin: 5px 0 20px 20px;

}

a img.alignnone {

    margin: 5px 20px 20px 0;

}

a img.alignleft {

    float: left;

    margin: 5px 20px 20px 0;

}

a img.aligncenter {

    display: block;

    margin-left: auto;

    margin-right: auto

}

.wp-caption {

    background: #fff;

    border: 1px solid #f0f0f0;

    max-width: 96%; /* Image does not overflow the content area */

    padding: 5px 3px 10px;

    text-align: center;

}

.wp-caption.alignnone {

    margin: 5px 20px 20px 0;

}

.wp-caption.alignleft {

    margin: 5px 20px 20px 0;

}

.wp-caption.alignright {

    margin: 5px 0 20px 20px;

}

.wp-caption img {

    border: 0 none;

    height: auto;

    margin: 0;

    max-width: 98.5%;

    padding: 0;

    width: auto;

}

.wp-caption p.wp-caption-text {

    margin: 0;

    padding: 0 4px 5px;

}

/* Global */

body, div { margin: 0; padding: 0; }

body { font: normal 15px "Open Sans", arial, sans-serif; color: #fff; line-height: 21px; background-color: rgba(6, 6, 6, 0.96);}

a { color: #fff; text-decoration: none; transition: background 0.3s ease 0s, color 0.3s ease 0s; }

a:hover { color: #F7940E !important; }

::selection {

	background: #9089b0; 

	}

::-moz-selection {

	background: #9089b0; 

}

h1,h2,h3,h4,h5,p { margin: 10px 0; }

h1,h2,h3,h4,h5{
    font-family: 'PT Mono' ;
}

p{
    font-family: 'Ubuntu', sans-serif;
}

img { border: none; }

.left { float: left; }

.right { float: right; }

.clear { clear: both; }

.container { width: 980px; margin: 0 auto; overflow: hidden;}

/* HTML5 tags */

header, section, footer,

aside, nav, article, figure {

	display: block;

}

/* Header */

.header_top { background-color: #060606; position: fixed; top: 0; left: 0; width: 100%; z-index: 100; }

.header_menu { float: right; }

.header_menu ul { list-style-type: none; margin: 0; padding: 0; float: right;}

.header_menu ul li { float: left; position: relative;margin-right: 45px;line-height: 30px; }

.header_menu ul li:last-child{margin-right: 0px;}

.header_menu ul li a { text-decoration: none;color: #fff; font-size: 1.2em; opacity: 1; font-family: 'PT Mono' ;}

.header_menu ul li.current_page_item a,

.header_menu ul li.current-menu-item a { text-decoration: none; color: #fff; font-size: 1.2em; opacity: 1; font-family: 'PT Mono' ; }

.header_menu ul li.current_page_item ul li a,

.header_menu ul li.current-menu-item ul li a { text-decoration: none; }

/*.header_menu ul li:first-child a { border-left: 1px solid #585B61; }*/

.header_menu ul li a:hover { color: #F7940E !important; }

.header_menu ul li ul { position: absolute; top: 31px; left: 0; z-index: 50; display: none; }

.header_menu ul li ul li { float: none; width: 180px; }

.header_menu ul li ul li a { padding: 5px 10px; border-top: 1px solid #444; border-right: none; font-size: 13px; background-color: #242628; }

.header_menu ul li ul li a:hover { color: #29C7D8; background-color: #191B1C; }

.header_menu ul li ul li:first-child a { border-top: none; }

.header_social { float: right; padding-top: 4px; }

.header_social img { display: inline-block; margin-left: 5px; }

.logo_cont { padding: 57px 0 25px; }

.logo { float: left; margin-left: 20px;}

/* Content */

#slideshow_cont { background-color: #fff; margin-bottom: 25px; padding: 100px 10px 10px 10px; }

#slideshow { position: relative; width: 980px; height: 350px; }

#slideshow .slide_box { width: 980px; height: 350px; position: absolute; top: 0; left: 0; display: none; }

#slideshow .slide_box_first { display: block; }

#slideshow img, #slideshow iframe { /*width: 980px; height: 350px;*/display: block; margin: 0 auto; }

.slide_thumbs_cont { padding: 15px 0px 0px 0px; display: none;}

.slide_thumbs_cont img { margin-left: 16px; display: inline-block; cursor: pointer; width: 183px; height: 90px; }

.slide_thumbs_cont img:first-child { margin-left: 0; }

#cont_left { float: left; /*width: 650px;*/ width: 70%; margin-top: 50px;}

.cont-single #cont_left{background-color: #fff; margin-top: 100px;}

#cont_left img {float: left; }

.post_box { margin-bottom: 20px; position: relative; background-color:#fff; padding: 20px 20px 20px 20px; }

.post_box h3 { margin-top: 0; text-align: center;padding: 10px; background: #fff; height: 95px;}

.post_box h3 a { text-decoration: none; padding: 2px 0px; /*font-size: 27px;*/ font-size: 15px; font-weight: 600; line-height: 23px; color: #060606; }

/*.post_box h3 a:hover { background-color: #222; color: #fff; }*/

.post_box p{font-weight: 300; font-size: 15px; color: #060606; height: 75px;}

.post_meta_left, .post_meta_right a{ font-family: 'PT Mono' ; font-weight: bolder; font-size: 15px; text-transform: lowercase;}

.post_box .left { /*width: 320px;*/ width: 300px; }

.post_box .left img { display: block; width: 100%; max-width: 420px; /*max-height: 240px;*/ height: auto; margin: 0 auto; float: none !important;}

.post_box .left iframe { width: 420px; height: 240px; }

.post_box .right { /*width: 280px;*/ width: 55%; }

.post_meta { border-bottom: 1px dotted #fff; font-size: 11px; color: #060606;}

.post_meta_left { float: left; }

.post_meta_right { float: right; }

.post_meta_right a { color: #060606; text-decoration: none; }

.post_meta_right a:hover { text-decoration: none; color: #060606; }

#commentform input[type=submit] { background-color: #060606; color: #fff; padding: 3px 5px; font-weight: 500; cursor: pointer; width: 422px;}

.archive_title { padding: 3px 1px; border-bottom: 1px solid #ccc; border-top: 2px solid #444;  margin-bottom: 20px; text-transform: uppercase; font-size: 16px; font-family: 'Source Sans Pro', sans-serif; font-weight: 300; }

.next_prev_cont { padding: 25px 0; }

.next_prev_cont .left { float: left; width: 45%; margin-left: 10px;}

.next_prev_cont .left i, .next_prev_cont .right i{font-weight: 600; font-family: 'Ubuntu', sans-serif;}

.next_prev_cont .left a { display: block; background: url('images/post_prev.png') no-repeat; background-position: center left; padding-left: 25px; min-height: 30px; font-weight: 500;font-family: 'PT Mono'; color: #060606}

.next_prev_cont .right { float: right; width: 45%; text-align: right; margin-right: 10px;}

.next_prev_cont .right a { display: block; background: url('images/post_next.png') no-repeat; background-position: center right; padding-right: 25px;  min-height: 30px; font-family: 'PT Mono' ; color: #060606;}

h1.single_title { margin-top: 0; font-size: 24px; font-family: 'Source Sans Pro', sans-serif; font-weight: 300;}

.you_may_like { background-color: rgba(6, 6, 6, 0.96); color: #fff; padding: 1px 10px; margin-top: 40px; padding: 30px 0; text-align: center;font-size: 30px; font-family: 'PT Mono' ; font-weight: 400;}

.cont-single .border.down{margin-top: -16px; background-color: #fff;}

.may_like_box { float: left; margin-right: 17px; width: 205px; }

.may_like_box_last{ margin-right: 0; }

.may_like_box img,

.may_like_box iframe { width: 205px; /*height: 120px;*/ height: auto; margin-bottom: 15px; }

.may_like_box h3 {text-align: center; padding: 0 5px;}

.may_like_box h3 a{
    font-size: 14px;
    font-weight: 700;
    color:#060606;
}

.may_like_box h3 a:hover { text-decoration: none; background-color: transparent; color: #060606; }

/* Sidebar */

#sidebar { /*width: 270px;*/ width: 25%; float: right; }

.side_box { margin-bottom: 20px; }

.side_box p { padding: 0 10px; }

h3.side_title {  padding: 3px 3px; color: #fff; font-size: 18px; margin: 0 0 0px; font-weight: 400; letter-spacing: 1px; }

.side_box ul { list-style-type: none; margin: 0; padding: 0; }

.side_box ul li{margin-bottom: 7px;}

.side_box ul li a { display: block; font-family: 'Ubuntu', sans-serif; font-weight: 400; font-size: 12px; line-height: 13px;}

.side_box ul li a:hover { text-decoration: underline;  color: #222; }

.t1_search_cont input[type=text], .t1_search_cont input[type=submit] { box-sizing: border-box;

    -moz-box-sizing: border-box;

    -webkit-box-sizing: border-box; height: 24px; font-family: 'Source Sans Pro', sans-serif, arial; }

.t1_search_cont input[type=text] { width: 185px; }

.t1_search_cont input[type=submit] { border: none; background-color: #252628; color: #90939C; width: 80px; }

.side_box #s{
    height:24px;
    border: 0px;
    border-bottom: 2px solid #fff;
    background: transparent;
    font-family: 'Ubuntu', sans-serif;
    width: 60%;
}

.side_box #searchsubmit{
    background: transparent;
    border: 0;
    padding: 5px 10px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

/* Footer */

#footer { padding: 10px 0; text-align: right; margin-top: 25px; }

/*Custom*/

.logo a img{
    width: 145px;
    height: auto;
}

#main_cont h1{
    font-weight: 400;
    font-size: 55px;
    color: #fff;
}

.screen-reader-text{
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    display: none;
}

#respond h3{
    font-weight: 500;
}
#respond input, #respond textarea{
    border: 1px solid #060606;
    font-family: 'Ubuntu', sans-serif !important;
    min-height: 30px;
    min-width: 50%;
}
#respond label{
    color: #060606;
}

.mrg{
    padding-top: 40px
}

.border.down{
        margin-bottom: 30px;
}
.cont-single h1{
    font-size: 20px !important;
    color: #060606 !important;
}

.cont-single .border{
    background: #060606;
}
.cont-single #sidebar{
    padding-top: 175px;
}
.single_inside_content h2, .single_inside_content h3{
    letter-spacing: 0;
    text-align: center;
}
.single_inside_content h3{
    font-size: 25px;
    font-weight: 100;
}
.single_inside_content p{
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin: 20px 0;
    color: #060606;
}
.single_inside_content strong{
    font-weight: 600;
}
.single_inside_content img{
    display: block;
    margin: 0 auto !important;
    float: none !important;
    width: 100%;
    height: auto;
}

footer .content{
    padding-top: 15px;
}
.copyright img{
    height: 25px;
    width: auto;
    position: relative;
    top: 8px;
}
.cont-single #cont_left a{
    color: #060606;
}